.card {
  margin-top: 8cm;
  margin-left: 2cm;
}

#sul {
  margin-top: -14cm;
  margin-left: 10cm;
}

.Judul {
  display: flex;
  justify-content: center;
  padding-top: 4cm;
  font-size: 60px;
  font-family: sans-serif;
}

.subjudul {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
}
