.card {
  margin-top: 9cm;
  margin-left: 2cm;
}

.Judul {
  display: flex;
  justify-content: center;
  padding-top: 4cm;
  font-size: 60px;
  font-family: sans-serif;
}

.subjudul {
  font-family: sans-serif;
}
